In [1]:
import pandas as pd
import seaborn as sns
import numpy as npm
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, cross_val_score # Etapa 4, seleccion y entrenamiento
from sklearn.preprocessing import StandardScaler, LabelEncoder #Etapa 4, Normalizacion de los datos
from sklearn.impute import SimpleImputer #Etapa 4, gestion de valores nulos
from sklearn.metrics import classification_report, confusion_matrix, mean_squared_error, r2_score # Etapa 6, Validación de métricas

from sklearn.linear_model import LogisticRegression, LinearRegression # Etapa 5, algoritmos a usar para construir nuestro modelo del modelo
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor # Etapa 5,
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.svm import SVC, SVR

 1. Definicion del problema
2. Recoleccion de datos
3. Exploración y análisis de datos (EDA)
4. Selección y entrenamiento de modelos
5. Evaluación del modelo
6. Tunning y mejora
7. Despliegue del modelo (Out of scope)
8. Mantenimiento (Out of the scope)
9.

1. Predecir la sobrevivencia de los pasajeros del Titanic. Este problema es considerado un problema de clasificación (ya que se pretende clasificar por categoría, es decir, sobrevivieron ... si fuera de regresión, sería un valor continuo no discreto)

In [7]:
df = pd.read_csv('./datasets/titanic/titanic_train.csv')
df_test = pd.read_csv('./datasets/titanic/titanic_test.csv')
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    object
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 83.7+ KB

In [8]:
df.describe()

       PassengerId    Survived      Pclass         Age       SibSp       Parch
count   891.000000  891.000000  891.000000  714.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008    0.381594
std     257.353842    0.486592    0.836071   14.526497    1.102743    0.806057
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000    0.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000